<%- contentFor('body') %>


<div class="d-flex">
	<div class="mx-auto mt-5">
		<h1 class="display-4">Welcome to ExoptJS</h1>
		<a href="https://github.com/RamonSaldanha/exoptjs">see us on github</a>
	</div>
</div>