<nav class="navbar navbar-expand-md navbar-light border border-top-0 border-left-0 border-right-0 static-top mb-3" style="background-color: #eee !important; border-color: #ddd !important;">

	<div class="container">
	  <a class="navbar-brand" href="#" style="font-weight: 300;">Express Optmized</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home</a>
	      </li>      
	      <li class="nav-item active">
	        <a class="nav-link" href="/docs">Docs</a>
	      </li>
	    </ul>
	  </div>
	</div>
</nav>