<nav class="nav flex-column">
  <a class="nav-link" href="/docs/installing">Installing</a>
  <a class="nav-link active" href="/docs/controller">Controllers</a>
  <a class="nav-link" href="/docs/route">Routes</a>
  <a class="nav-link" href="/docs/model">Models</a>
</nav>